<div class="layui-header header header-demo">
    <div class="layui-main">
        <a class="logo" href="/">VACOMALL</a>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child">
              <dd><a href="">个人信息</a></dd>
              <dd><a href="/logout">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item x-index"><a href="/">前台首页</a></li>
        </ul>
    </div>
</div>