<div class="layui-side layui-bg-black x-side">
     <div class="layui-side-scroll">
         <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
             <li class="layui-nav-item">
                 <a class="javascript:;" href="javascript:;">
                     <i class="layui-icon" style="top: 3px;">&#xe614;</i><cite>系统管理</cite>
                 </a>
                 <dl class="layui-nav-child">
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/user">
                                 <cite>用户管理</cite>
                             </a>
                         </dd>
                     </dd>
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/role">
                                 <cite>角色管理</cite>
                             </a>
                         </dd>
                     </dd>
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/menu">
                                 <cite>菜单管理</cite>
                             </a>
                         </dd>
                     </dd>
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/dept">
                                 <cite>部门管理</cite>
                             </a>
                         </dd>
                     </dd>
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/task">
                                 <cite>任务管理</cite>
                             </a>
                         </dd>
                     </dd>
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/montior">
                                 <cite>监控管理</cite>
                             </a>
                         </dd>
                     </dd>
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/setting">
                                 <cite>系统设置</cite>
                             </a>
                         </dd>
                     </dd>
                 </dl>
                 
             </li>
             <li class="layui-nav-item">
                 <a class="javascript:;" href="javascript:;">
                     <i class="layui-icon" style="top: 3px;">&#xe698;</i><cite>商品管理</cite>
                 </a>
                 <dl class="layui-nav-child">
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/brand">
                                 <cite>品牌管理</cite>
                             </a>
                         </dd>
                     </dd>
                     <dd class="">
                         <dd class="">
                             <a href="javascript:;" _href="/shop">
                                 <cite>商品管理</cite>
                             </a>
                         </dd>
                     </dd>
                 </dl>
             </li>
         </ul>
     </div>
 </div>