<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="common/head" />
</head>
<body>
<div class="layui-layout layui-layout-admin">
 
 <header th:replace="common/header"></header>
 <div th:replace="common/menu"></div>
 
 <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
     <div class="x-slide_left"></div>
     <ul class="layui-tab-title">
         <li class="layui-this">我的桌面 </li>
     </ul>
     <div class="layui-tab-content site-demo site-demo-body">
         <div class="layui-tab-item layui-show">
             <iframe frameborder="0" src="/welcome.html" class="x-iframe"></iframe>
         </div>
     </div>
 </div>
 <div class="site-mobile-shade"></div>
 <div th:replace="common/footer"></div>
</div>
<div th:replace="common/js"></div>
<div th:replace="common/setting"></div>
<script type="text/javascript">
	layui.use('xadmin');
</script>
</body>
</html>